{% extends "base" %} {% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
<script
    src="https://cdn.jsdelivr.net/npm/luxon@3.0.4/build/global/luxon.min.js"
    integrity="sha256-APLcdSn5AMXqZzoKhlczWWyV93oXBTrfkjhqtMX8vEM="
    crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
{% endblock head %} {% block content %}
<a href="/">go back</a>
<div class="wrapper">
    <h1>Stats</h1>
    <table>
        <tr>
            <td>Total Fishes Caught</td>
            <td>{{ total_catches }}</td>
        </tr>
        <tr>
            <td>Total Trash Caught</td>
            <td>{{ total_trash }}</td>
        </tr>
        <tr>
            <td>Accumulate Score</td>
            <td>${{ total_score | round2 }}</td>
        </tr>
        <tr>
            <td>Most Valuable Catch</td>
            <td>
                {{ top_catch.fish_name }} {% if top_catch.weight -%} at
                {{ top_catch.weight | round2 }}kg {% endif -%} worth {% if
                top_catch.value > 0 -%} ${{ top_catch.value | round2 }} {% else
                -%} nothing {% endif -%} caught by {{ top_catch.user_name }}
            </td>
        </tr>
    </table>

    <h1>Fishes</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Base Value</th>
            <th>Times Caught</th>
            <th>Ideal Probabiliy</th>
            <th>Real Probability</th>
            <th>Performance</th>
        </tr>
        {% for fish in fishes %}
        <tr>
            <td>{{ fish.html_name | safe }}</td>
            <td>${{ fish.base_value | round2 }}</td>
            <td>{{ fish.catches }}</td>
            <td>{{ fish.ideal_chance * 100 | round2 }}%</td>
            <td>{{ fish.real_chance * 100 | round2 }}%</td>
            <td>{{ fish.performance * 100 | round2 }}%</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Charts</h1>
    <div
        class="chart-container"
        style="position: relative; height: 40vh; width: 50vw"
    >
        <script>
            function selectColor(number) {
                const hue = number * 137.508; // use golden angle approximation
                return `hsl(${hue},50%,75%)`;
            }

            const data = {
                datasets: [{% for user in users %}
                        {
                            label: '{{ user.name }}',
                            backgroundColor: selectColor({{ loop.index }}),
                            borderColor: selectColor({{ loop.index }}),
                            parsing: false,
                            hidden: {% if loop.first %}false{% else %}true{% endif %},
                            data: [{% for catch in user.catches -%}
                                { x: {{ catch.caught_at }} , y: {{ catch.value }} },
                            {% endfor %}]
                        },
                {%- endfor %}],
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        }
                    },
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                    },
                    title: {
                            display: true,
                            text: 'Accumulative Score per User'
                        }
                    }
                }
            };
        </script>
        <canvas id="myChart"></canvas>
        <script>
            const myChart = new Chart(
                document.getElementById("myChart"),
                config
            );
        </script>
    </div>
</div>
{% endblock content %}
