{% extends "base" %}
{% block content %}
<a href="/">home</a> | <a href="/leaderboard">go back</a>
<div class="wrapper">
	<h1>{{ user_name }}</h1>
	<table>
		<tr>
			<td>Total Score</td>
			<td>${{ total_score | round2 }}</td>
		</tr>
		<tr>
			<td>Total Catches</td>
			<td>{{ total_catches }}</td>
		</tr>
		<tr>
			<td>Average Catch Value</td>
			<td>${{ avg_catch_value | round2 }}</td>
		</tr>
		{% if top_catch %}
		<tr>
			<td>Most Valuable Catch</td>
			<td>{{ top_catch.name }}
				{% if top_catch.weight -%}
				at {{ top_catch.weight | round2 }}kg
				{% endif -%}
				worth
				{% if top_catch.value > 0 -%}
				${{ top_catch.value | round2 }}
				{% else -%}
				nothing
				{% endif %}
			</td>
		</tr>
		{% endif %}
	</table>
</div>
{% endblock content %}