{% extends "base.html" %}
{% block content %}
<a href="/">go back</a>
<div class="wrapper">
	<h1>Fishes</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Probabiliy</th>
			<th>Base Value</th>
			<th>Weight</th>
		</tr>
		{% for fish in fishes %}
		<tr>
			<td>{{ fish.html_name | safe }}</td>
			<td>{{ fish.chance * 100 | round(precision=2) }}%</td>
			<td>${{ fish.base_value | round(precision=2) }}</td>
			<td>
				{%- if fish.min_weight -%}
				{%- if fish.max_weight -%}
				{{ fish.min_weight | round(precision=1) }}kg - {{ fish.max_weight | round(precision=1) }}kg
				{%- endif -%}
				{%- endif -%}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}